
html {
  background-image: url("https://m.media-amazon.com/images/I/61BFSQrKoEL._AC_UF894,1000_QL80_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  background-color: transparent;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: black;
  font-weight: bold;
}